<template>
  <div id="app">
  <div class = "container">
    <h2 class="text-success text-center">Page Not Found</h2>
    <h3 class="text-center"><router-link to="/">Go Back</router-link></h3>
    </div>
  </div>
</template>
