<template>
  <div id="app">
  <div class = "container">
    <div id="preview" class="col-md-12">
      <button class="btn btn-primary" style="margin-top:30px" type="button" v-on:click="goBack">&larr; Go Back </button>
      <h2 class="text-success text-center">Readme File Preview</h2>
      <h3 class="mb-3 text-center">Username : {{$route.params.username}} | Repo: {{$route.params.reponame}}</h3>
      <div class=""  v-html='previewText' ></div>
    </div>
    </div>
  </div>
</template>

<script>

import {getReadme} from "../api.js"
let marked = require('marked');  //import markedown library for converting readme into html

export default {
  name: 'readme', //component name
  data () {
    return {
      readmeText: '',
      username:this.$store.state.username,
      reponame:this.$store.state.reponame
    }
  },

  beforeCreate(){

    //searching readme text (GET)
    getReadme (response =>{
      //change state readme
      this.readmeText = response.data;
    }, this.$route.params.username, this.$route.params.reponame).catch(error => {
          console.log("Searching failed");
          this.error = error;
      });
  },

  watch: {
   '$route' (to, from) {
     // react to route changes...
   }
 },

  methods:  {
      //function for going back to home page
      goBack: function() {
        this.$router.push({ name: 'search'});
      }
    },

  computed: {
  //function for converting and showing the markedown text as html
	previewText() {
    //configure the setup for markedown
		marked.setOptions({
		  renderer: new marked.Renderer(),
		  gfm: true,
		  tables: true,
		  breaks: true,
		  pedantic: false,
		  sanitize: true,
		  smartLists: true,
		  smartypants: false
		});
		return marked(this.readmeText)
	}
  },
}
</script>
