<template>
  <div id="main">
    <img class="logo" alt="logo-github"> </img>
    <h3 class="d-block mt-5 text-center"> Hello, Welcome to Github Search Web App!</h3>
    <div class="row text-center">
      <input type="text" name="gh-username" placeholder="Search for a GitHub usernames...." v-model="username" :class="{ 'has-error': error }">
      <button type='button' class="btn btn-primary btn-lg" v-on:click="search">Search</button>
    </div>

    <span class="loading" v-if="loading">Searching "{{ username }}" in Github</span>

    <div class="box" v-if="profile && !loading || error && !loading">
        <div v-if="profile">
            <img v-if="profile.avatar_url" :src="profile.avatar_url" :alt="'GitHub Avatar for ' + username ">
            <h4 v-if="profile.name">{{ profile.name }}</h4>
            <p v-if="profile.location">{{ profile.location }}</p>
            <h4><b>Project List</b></h4>
            <li v-if="projects" v-for="item in projects" v-on:click="clickRepo(item)" style="text-align:left; cursor:pointer">
              {{ item.name }}
            </li>
        </div>
        <span v-if="error">Sorry, it can't be found!</span>
    </div>
  </div>
</template>

<script>
    import {getUser, getRepos} from "../api.js"

    export default {
      name:"search", //component name
        data () {
            return {
                username: '',     //storing typed name
                profile: '',     //storing profile data from a GitHub's user
                projects:'',    //storing list projects from a GitHub's user
                error: '',      //storing eror message
                loading: false, //loading parameter when searching

            }
        },
        watch: {
            username: function (val) {
                this.error = '';
            }
        },
        methods:  {
            //function for searching through github api
            search: function() {
                if(this.username){
                    //change value loading while searching
                    this.loading = true;

                    //store username data
                    this.$store.commit('setUser', this.username)

                    getUser (response =>{
                      console.log(response)
                      this.profile = response.data;
                      this.error = '';
                      this.loading = false;

                    }, this.username).catch(error => {
                          console.log("Searching failed");

                          this.profile = '';
                          this.error = error;
                          this.loading = false;

                      });

                    //searching the list repos from user (GET) after searching the profile
                    getRepos (response =>{
                      console.log(response)
                      this.projects = response.data;
                      this.error = '';
                      this.loading = false;

                    }, this.username).catch(error => {
                          console.log("Searching failed");
                          this.projects = '';
                          this.error = error;
                          this.loading = false;

                      });
                }

            },

            //function while clicking one of the list projects
            clickRepo: function(item) {
                //store selected repo
                this.$store.commit('setRepo', item.name);

                //move to readme page
                this.$router.push({ name: 'readme', params: { username: this.username, reponame:item.name }});
        }
    }
  }
</script>

<style scoped src='../assets/styles/default.css'>
</style>
