div {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   font-size: 16px; line-height: 1.4;
}
input {
    width: 350px;
    height: 46px;
    max-width: 74%;
    padding: 15px 25px;
    margin: 45px auto;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  content:url("../picture/icon-gitHub.svg");
}

.has-error {
    border: 1px solid #96281B;
    outline: none;
}

.box {
    display: block;
    width: 450px;
    max-width: 74%;
    padding: 25px;
    margin: 15px auto;
    background: #EEEEEE;
    border: 1px solid #D2D7D3;
    text-align: center;
}

.box img {
    display: block;
    width: 100px;
    height: auto;
    margin: 0 auto 15px;
}

.loading {
    display: block;
    text-align: center;
    color: #6C7A89;
}
